:root {
    --rich-black: #0D1F2D;
    --paynes-gray: #546A7B;
    --cadet-gray: #9EA3B0;
    --misty-rose: #FAE1DF;
    --desert-sand: #E4C3AD;
    --font-family-heading: 'Merriweather', serif;
    --font-family-body: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--misty-rose);
    color: var(--cadet-gray);
    font-family: var(--font-family-body);
}

h1, h2, h3 {
    color: var(--cadet-gray);
    font-family: var(--font-family-heading);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--misty-rose);
}

.header h1 {
    color: var(--rich-black);
    font-size: 3em;
    margin: 20px 0;
    flex-grow: 1;
    text-align: center;
}

.search-container {
    padding: 20px;
    z-index: 999;
    text-align: center;
    font-family: var(--font-family-body);
}

.search-box {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 1em;
    font-family: var(--font-family-body);
    border: 1px solid #ccc;
    color: var(--rich-black);
    border-radius: 20px;
    margin: 0 auto;
}

#results {
    margin-top: 20px;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.recipe-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

#recipe-details-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-title-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 1050;
}

#recipe-title {
    background-color: var(--misty-rose);
    color: var(--rich-black);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--rich-black);
}

ul, ol {
    list-style: none;
    margin: 0;
    color: var(--rich-black);
}

li {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1em;
    color: var(--rich-black);
}

.card {
    background-color: var(--cadet-gray);
    color: var(--desert-sand);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.recipe-box {
    color: var(--desert-sand);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: none;
    transition: transform 0.3s ease;
}

.recipe-box:hover {
    transform: translateY(-5px);
    background-color:var(--desert-sand);
}

.dark-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.blur-background > *:not(#recipe-details-container) {
    filter: blur(5px);
}

#add-recipe-btn {
    background-color: var(--desert-sand);
    color: var(--rich-black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
}

#add-recipe-btn:hover {
    background-color: var(--paynes-gray);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-box {
        width: 90%;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container, .card {
        width: 90%;
        padding: 10px;
    }
    h3 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
