:root {
    --rich-black: #1D3557;
    --paynes-gray: #546A7B;
    --cadet-gray: #9EA3B0;
    --misty-rose: #F1FAEE;
    --desert-sand: #E4C3AD;
    --font-family-heading: 'Merriweather', serif;
    --font-family-body: 'Open Sans', sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
    to right,
    #264653 0%, #264653 20%, /* Color 1 */
    #2A9D8F 20%, #2A9D8F 40%, /* Color 2 */
    #E9C46A 40%, #E9C46A 60%, /* Color 3 */
    #F4A261 60%, #F4A261 80%, /* Color 4 */
    #E76F51 80%, #E76F51 100%  /* Color 5 */
    );
    color: #264653;
    font-family: var(--font-family-body);
    height: 100vh; /* Full height of the viewport */
}

h1, h2, h3 {
  color: #264653;
  font-family: var(--font-family-heading);
}

.container {
    max-width: 1200px;
    margin: 20px auto; /* Centers the container with auto margins on left and right */
    padding: 0 15px; /* Adds some padding inside the container */
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center; /* Ensures the header text is centered */
    color: #f5f5f5;
}

.header h1 {
    color: #f5f5f5;
    font-size: 3.4em;
    margin: 20px 0;
}

.search-container {
    padding: 20px;
    z-index: 999;
    text-align: center;
    font-family: var(--font-family-body);
}

.search-box {
    width: 80%;
    max-width: 500px; /* Limits the width of the search box */
    padding: 10px;
    font-size: 1em;
    font-family: var(--font-family-body);
    border: 1px solid #ccc;
    color: var(--rich-black);
    border-radius: 20px;
    margin: 0 auto; /* Centers the search box */
}

#results {
    margin-top: 20px;
}

.grid {
    display: grid;
    justify-content: center; /* Centers grid items horizontally */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Makes the grid responsive */
    gap: 20px;
    text-align: center;
}

.recipe-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer; /* Indicates the box is clickable */
    margin-bottom: 20px; /* Space between recipe boxes */
}

#recipe-details-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-title-container {
    position: fixed; /* Fixed like the details container */
    top: 10%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Full width */
    text-align: center;
    z-index: 1050; /* Ensure it's above other content */
}

#recipe-title {
    background-color: var(--misty-rose); /* Yellow background */
    color: var(--rich-black);
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    /* Remove properties that are no longer necessary */
    /* position, top, left, transform, margin, width */
}

h3 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--rich-black);
}

ul, ol {
    list-style: none; /* Removes all list markers */
    margin: 0;
    color: var(--rich-black);
}

li {
    margin-bottom: 5px; /* Space between list items */
    font-weight: normal;
    font-size: 1em;
    color: var(--rich-black);
}

.card {
    background-color: var(--cadet-gray);
    color: var(--desert-sand);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Space between cards */
}

.recipe-box {
    color: var(--desert-sand);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: none;
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
  }

.recipe-box:hover {
    transform: translateY(-5px); /* Slightly raises the card on hover for a 'pop' effect */
    background-color:var(--desert-sand);
}

.dark-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* High z-index, but lower than the recipe details */
}

.blur-background > *:not(#recipe-details-container) {
    filter: blur(5px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-box {
        width: 90%;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container, .card {
        width: 90%;
        padding: 10px;
    }
    h3 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
