<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JH Recipes</title>
    <link rel="icon" type="image/png" href="favicon32px.png">
    <meta name="description" content="Discover delicious recipes with simple explanations. Ideal for home cooks of all skill levels. Explore our collection of recipes and start cooking today!">
    <meta name="keywords" content="recipes, cooking, food, ingredients, instructions, easy recipes, home cooking">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta property="og:title" content="JH Recipes - Delicious Recipes for Home Cooks">
    <meta property="og:description" content="Explore our collection of delicious recipes with simple explanations. Perfect for home cooks of all skill levels.">
    <meta property="og:image" content="banner.png">
    <meta property="og:url" content="https://www.jhrecipes.com/">
    <meta property="og:type" content="website">
</head>
<body>
    <div class="dark-overlay" id="darkOverlay"></div>
    <div class="container">
        <div class="header">
            <h1>JH Recipes</h1>
        </div>
        <div class="search-container">
            <input type="text" id="search-box" class="search-box" placeholder="Search recipes...">
        </div>
        <div id="results"></div>
        <div id="recipe-details-container" class="yellow-area" style="display:none;">
            <h2 id="recipe-title" class="recipe-title"></h2>
            <div class="card ingredients-card">
                <h3><i class="fas fa-utensils"></i> Ingredients:</h3>
                <ul></ul>
            </div>
            <div class="card instructions-card">
                <h3><i class="fas fa-utensils"></i> Instructions:</h3>
                <ul></ul>
            </div>
        </div>
    </div>

    <!-- Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>

    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/config.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>

