<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about foods with simple explanations suitable for all ages. Explains nutritional facts like you are 5 (ELI5).">
    <title>ELI5 Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" href="/path/to/your/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- when sharing your content on social media platforms -->
    <meta property="og:title" content="ELI5 Food - Understand Foods Simply">
    <meta property="og:description" content="Plain and simple explanations about foods. Ideal for teaching kids or for quick learning.">
    <meta property="og:image" content="https://www.eli5food.com/images/og-image.jpg">
    <meta property="og:url" content="https://www.eli5food.com/">
    <meta property="og:type" content="website">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HF8SB03TZF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

  gtag('config', 'G-HF8SB03TZF');
</script>
</script>
</head>
<body>
    <div class="dark-overlay" id="darkOverlay"></div>
    <div class="container">
        <div class="header">
            <h1>Food Explained Like I'm 5</h1>
        </div>
        <div class="search-container">
            <input type="text" id="search-box" class="search-box" placeholder="Search by food (i.e., Carrots, Apples)">
        </div>
        <div id="results"></div>
        <!-- The recipe-details-container should be empty initially and populated with recipe details dynamically with JavaScript -->
        <div id="recipe-details-container" class="yellow-area" style="display:none;">
            <!-- This is where the recipe title will appear -->
            <h2 id="recipe-title" class="recipe-title"></h2> <!-- Add this line -->

            <!-- Example structure, should be generated and inserted by JavaScript -->
            <div class="card ingredients-card">
                <h3><i class="fas fa-utensils"></i> Ingredients:</h3>
                <ul>
                  <!-- Ingredient items will be inserted here by JavaScript -->
                </ul>
            </div>
            
            <div class="card instructions-card">
                <h3><i class="fas fa-utensils"></i> Instructions:</h3>
                <ul>
                  <!-- Instruction items will be inserted here by JavaScript -->
                </ul>
            </div>
        </div>
    </div>
    <!-- JavaScript file for handling the interactions and dynamic content -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
