<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JH Recipes</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon32px.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="dark-overlay" id="darkOverlay"></div>
    <div class="container">
        <div class="header">
            <h1>JH Recipes</h1>
            <button id="add-recipe-btn" class="add-recipe-btn">Add New Recipe</button>
        </div>
        <div class="search-container">
            <input type="text" id="search-box" class="search-box" placeholder="Search by recipe, category, ingredient...">
        </div>
        <div id="results"></div>
        <div id="recipe-details-container" class="yellow-area" style="display:none;">
            <h2 id="recipe-title" class="recipe-title"></h2>
            <button id="edit-recipe-btn" class="edit-recipe-btn">Edit Recipe</button>
            <button id="delete-recipe-btn" class="delete-recipe-btn">Delete Recipe</button>
            <div class="card ingredients-card">
                <h3><i class="fas fa-utensils"></i> Ingredients:</h3>
                <ul>
                  <!-- Ingredient items will be inserted here by JavaScript -->
                </ul>
            </div>
            <div class="card instructions-card">
                <h3><i class="fas fa-utensils"></i> Instructions:</h3>
                <ul>
                  <!-- Instruction items will be inserted here by JavaScript -->
                </ul>
            </div>
        </div>
    </div>
    
    <div id="add-recipe-form-container" class="form-container" style="display:none;">
        <h2>Add New Recipe</h2>
        <form id="add-recipe-form">
            <label for="recipe-title-input">Title:</label>
            <input type="text" id="recipe-title-input" name="title" required>
            <label for="recipe-ingredients-input">Ingredients (one per line, e.g., 1 tsp of salt):</label>
            <textarea id="recipe-ingredients-input" name="ingredients" required></textarea>
            <label for="recipe-instructions-input">Instructions (one per line):</label>
            <textarea id="recipe-instructions-input" name="instructions" required></textarea>
            <label for="password-input">Password:</label>
            <input type="password" id="password-input" name="password" required>
            <button type="submit">Add Recipe</button>
            <button type="button" id="cancel-btn">Cancel</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
